@model Postter.Application.ViewModels.RegisterViewModel
@{
    Layout = "_SimpleLayout";
}
<div class="container container-center">
    <div class="logo">
        <i class="fas fa-cat pink-line"></i>
    </div>
    <div class="bold-text pl-0" style="font-size: 25px">
        Sign up for Postter
    </div>
    <form method="post" class="validation" asp-action="Register" asp-controller="Account" asp-antiforgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row px-3 py-2">
            <input asp-for="Email" required type="email" class="postter-form postter-form-control w-100 bordered p-3" id="emailForm"
                   placeholder="Email" style="font-size: 16px"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group row px-3 py-2">
            <input asp-for="Nickname" required type="text" class="postter-form postter-form-control w-100 bordered p-3" id="usernameForm"
                   placeholder="Username" style="font-size: 16px"/>
            <span asp-validation-for="Nickname"></span>
        </div>
        <div class="form-group row px-3 py-2">
            <input id="userPassword" asp-for="Password" required pattern="[a-zA-Z0-9].+" type="password"
                   class="postter-form postter-form-control w-100 bordered p-3 rounded from" placeholder="Password" style="font-size: 16px"/>
            <div class="error"></div>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group row px-3 py-2">
            <input asp-for="ConfirmPassword" required type="password" class="postter-form postter-form-control w-100 bordered p-3 rounded"
                   id="confirmPasswordForm" placeholder="Confirm password" style="font-size: 16px"/>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button class="postter-button w-100 validateBtn" style="height: 50px" type="submit">Sign Up</button>
        <div class="mt-4 text-center">
            <a style="font-size: 16px; text-decoration: none; color: var(--pinkColor);" asp-area="" asp-controller="Account" asp-action="Login">Return to Log in</a>
        </div>
    </form>
    <script>
    let form = document.querySelector('.validation')
    let validateBtn = document.querySelector('.validateBtn');
    let from = form.querySelector('.from');
    
    form.addEventListener('submit', function(event) {
      if (from.value.length < 8){
          event.preventDefault();
          let errors = form.querySelectorAll('.error');
            for (var i = 0; i < errors.length; i++) {
                errors[i].remove()
              }
          let error = document.createElement('div')
          error.className ='error'
          error.style.color = 'red'
          error.innerHTML = "Длина пароля меньше 8 символов"
          from.parentElement.insertBefore(error,  from)
      }
      else{
          event.stopPropagation()
      } 
    })
</script>
</div>