@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IndexViewModel
@{
    ViewData["Title"] = "Main page";
}
 
 
@if(User.Identity.IsAuthenticated)
{
    <!--Form-->
    <form class="postter-box" method="post" asp-controller="Home" asp-action="CreatePost"
          enctype="multipart/form-data" data-ajax="true"
          data-ajax-method="post" data-ajax-mode="before" data-ajax-update="#content" data-ajax-confirm="Are you sure?">
        <div class="row m-0">
            <div class="col-2 pl-3 pt-3" style="width: max-content; flex: 0;">
                <img class="avatar-img-sm"
                     src="@Model.CurrentUser?.Image_path" alt="404">
            </div>
            <div class="col-10 px-0 py-4">
                <div class="pr-5">
                    <span id="textSpan" class="textarea" role="textbox" contenteditable></span>
                    <input id="hiddenTextInput" type="text" name="text" style="position: absolute; left: -9999px;"/>
                </div>
            </div>
        </div>
        <div class="row m-0 ml-5 pl-3 py-3">
            <div class="col-8">
                <button class="postter-icon-button p-1">
                    @*<i class="far fa-image"></i>*@
                    <input type="file" accept="image/png" name="uploadedFile" style="font-size: 15px;"/>
                </button>
                @*<button class="postter-icon-button p-1">
                    <i class="fas fa-cat"></i>
                </button>
                <button class="postter-icon-button p-1">
                    <i class="fas fa-cat"></i>
                </button>
                <button class="postter-icon-button p-1">
                    <i class="fas fa-cat"></i>
                </button>*@
            </div>
            <div class="col-4">
                <button id="postButton" class="postter-button" type="submit">Post</button>
            </div>
        </div>
    </form>
    
    <script>
        $('#postButton').click(function() {
            $('#hiddenTextInput').val($('#textSpan').html());
            console.log($('#textSpan').innerHTML);
        });
    </script>

    <div style="height: 13px"></div>
    <!--Content-->
    <div id="content">
        @foreach (var post in Model.PostViewModel.Posts)
        {
            @await Html.PartialAsync("_Post", post)
        }
    </div>
}