@model Postter.Domain.Models.User

@foreach (var following in Model.Following)
{
    <div class="row m-0 p-3">
        <div class="col-2 p-0">
            <img class="avatar-img-sm"
                 src="https://i.pinimg.com/originals/a6/e8/1b/a6e81b2bb0685ebab1d7b2f15283b7e4.jpg">
        </div>
        <div class="col-6 p-0 ml-3 pl-2">
            <p class="semi-bold-text m-0 p-0">@following.Follows.UserName</p>
            <p class="secondary-text m-0 p-0">user</p>
        </div>
    </div>
    if (following != Model.Following.Last())
    {
        <hr style="border-color: var(--darkGray); padding: 0 10px; margin: 0">
    }
}